<ion-view title="'Transaction History'">
  <ion-content
  has-header="true"
  scroll="true"
  on-refresh="refresh()">
    <ion-refresher></ion-refresher>
    <ul class="list">
      <li class="wow item item-divider">
        Total
        <span class="badge badge-balanced">
          Ð {{ wallet.balance | number }}
        </span>
      </li>
      <li class="item" ng-show="transactions.length == 0">
        <span class="wow text-center">No Transactions</span>
      </li>
      <li class="item item-icon-left" ng-repeat="tx in transactions">
        <div class="wow" ng-switch="tx.type">
          <div ng-switch-when="deposit">
            <i class="icon ion-ios7-cloud-download-outline"></i>
            {{ tx.owner }}
            <span class="badge badge-balanced">
              Ð {{ tx.amount | number  }}
            </span>
          </div>
          <div ng-switch-when="withdraw">
            <i class="icon ion-ios7-cloud-upload-outline"></i>
            {{ tx.owner }}
            <span class="badge badge-assertive">
              Ð {{ tx.amount | number  }}
            </span>
          </div>
          <div ng-switch-when="send">
            <div ng-if="tx.owner == wallet.username">
              <i class="icon ion-ios7-arrow-thin-right"></i>
              {{ tx.to }}
              <span class="badge badge-assertive">
                Ð {{ tx.amount | number  }}
              </span>
            </div>
            <div ng-if="tx.to == wallet.username">
              <i class="icon ion-ios7-arrow-thin-left"></i>
              {{ tx.owner }}
              <span class="badge badge-balanced">
                Ð {{ tx.amount | number }}
              </span>
            </div>
          </div>
        </div>
      </li>
    </ul>

  </ion-content>
</ion-view>