<div class="modal" ng-controller="SendCoinsCtrl">
  <header class="bar bar-header bar-stable">
    <h1 class="wow title">Very Send</h1>
  </header>
  <ion-content has-header="true" has-footer="true" padding="true">
    <div class="padding">
      <div class="card">
        <div class="wow item item-divider item-positive">
          Send Coins
        </div>
        <h3 class="wow item item-text-wrap">
          Are you sure you want to send Ð{{ transaction.amount }} to {{ transaction.to.fullName }}?
        </h3>
      </div>
      <div class="wow card">
        <div class="item item-divider">
          Send Kik message to..
        </div>
        <div class="list">
          <label class="item item-radio" ng-repeat="option in sendToOptions">
            <input type="radio" name="group" ng-model="data.sendTo" ng-value="option.value">

            <div class="item-content">
              {{ option.description }}
            </div>
            <i class="radio-icon ion-checkmark"></i>
          </label>
        </div>

      </div>
    </div>
  </ion-content>
  <footer class="bar bar-footer bar-stable">
    <button class="wow button button-clear" ng-click="modal.hide()">Cancel</button>
    <button class="wow button button-clear" ng-click="confirmSendCoins(data.sendTo)">Confirm Send</button>
  </footer>
</div>