<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar type="bar-stable"
                 back-button-type="button-icon"
                 back-button-icon="ion-ios7-arrow-back">

    </ion-nav-bar>
    <ion-nav-view name="content">
    </ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right">
    <header class="bar bar-header bar-stable">
      <div class="wow title">So Menu</div>
    </header>
    <ion-content has-header="true">
      <ul class="list">
        <a href="#" ui-sref="sidebar.history" class="wow item item-icon-left" ng-click="sideMenuController.close()">
          <i class="icon ion-clipboard"></i>
          Show History
        </a>
        <a href="#" ui-sref="sidebar.withdraw" class="wow item item-icon-left" ng-click="sideMenuController.close()">
          <i class="icon ion-ios7-cloud-upload-outline"></i>
          Withdraw
        </a>

        <div class="wow item item-divider">
          Info
        </div>
        <div class="wow item item-text-wrap" style="font-size: 0.87em">
          Created by Mitchell Van Der Hoeff 2014 <br>
          Source: <a href="" ng-click="openSource()">
          mitchellvanderhoeff/kikdogewallet
        </a>
        </div>

      </ul>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>