<ion-view title="'So Withdraw'">
  <ion-content
  has-header="true"
  has-footer="true"
  scroll="true"
  >

    <div class="wow card ">
      <div class="wow item item-divider item-positive">
        Such Balance
      </div>
      <div class="item item-text-wrap">
        <h2 class="wow">
          <strong>Ð{{ wallet.balance | number }}</strong>
        </h2>
      </div>
    </div>
    <div class="card">
      <div class="list">
        <div class="wow item item-divider">
          Enter address and amount
        </div>
        <label class="item item-input">
          <input class="wow" type="text" placeholder="Wow Address" ng-model="address" ng-change="hideError()">
        </label>
        <label class="wow item item-input">
          Ð&nbsp;
          <input class="wow" type="number" placeholder="Very Amount" ng-model="amount"
                 ng-change="updateBalanceAfterWithdraw(amount); hideError()">
        </label>
      </div>
    </div>

    <div class="wow card">
      <a href="" class="button button-block button-dark" ng-click="confirmWithdraw(address, amount)">
        Withdraw
        <i class="icon ion-ios7-cloud-upload-outline"></i>
      </a>
    </div>
  </ion-content>
  <footer class="bar bar-footer bar-assertive" ng-show="error">
    <div class="title">{{ error }}</div>
  </footer>
</ion-view>

